dist
logs
.husky

.git
.gitignore
.gitattributes
.gitkeep

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

.github
.vscode
Dockerfile*
compose*
docker-compose*
.dockerignore
.env*
!.env.example
.vercel
.now
